*/deploy.ts
/Users/ihorantsupov/Pro/Robot_dreams/Final/Ihor Kyrychenko/Solidity_test2/contracts/DomainRegistrar.sol
/Users/ihorantsupov/Pro/Robot_dreams/Final/Ihor Kyrychenko/Solidity_test2/contracts/mocks/MyToken.sol